[submodule "Larval-zebrafish-tracking"]
	path = Larval-zebrafish-tracking
	url = https://github.com/Wenlab/Larval-zebrafish-tracking
[submodule "Online-Zebrafish-Optogenetic-System"]
	path = Online-Zebrafish-Optogenetic-System
	url = https://github.com/Wenlab/Online-Zebrafish-Optogenetic-System
[submodule "Dual-Color-Image-Processing"]
	path = Dual-Color-Image-Processing
	url = https://github.com/Wenlab/Dual-Color-Image-Processing
